
.Intro{
    padding-top: 80px;
}
.IntroBtn{
    background-color: rgb(200, 195, 195);
    width: 152px;
    height: 34px;
    border-radius: 3px;
}
h2{
    font-size: 30px;
}
.pd20-20{
    margin-top: 40px;
    margin-bottom: 30px;
}