@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Kanit&display=swap');
.App {
  font-family: 'Courier New', Courier, monospace;

  padding-left: 80px;
  padding-right: 80px;
  background-color: rgb(233, 228, 220);
  min-height: 2160px;
  /* padding-top: 25px; */
}

button{
  font-family: 'Kanit', sans-serif;
}
.pd100{
  padding-top: 50px;
  padding-bottom: 50px;
}
